---
layout: splash
title: Home
---

<p>Thanks so much for visiting my site. You caught me right in the middle of re-designing it!</p>
<p>In the mean time, some of my work can be viewed using the links at the bottom of this page. Or, if you’d like to contact me, please use the form below:</p>


<div id="wufoo-q1jkk36m1p2rzx9">
Fill out my <a href="https://chasew.wufoo.com/forms/q1jkk36m1p2rzx9">online form</a>.
</div>

<script type="text/javascript">var q1jkk36m1p2rzx9;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'chasew',
'formHash':'q1jkk36m1p2rzx9',
'autoResize':true,
'height':'500',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':false};
s.src = ('http:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { q1jkk36m1p2rzx9 = new WufooForm();q1jkk36m1p2rzx9.initialize(options);q1jkk36m1p2rzx9.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

<!--<form id="contact" action="//formspree.io/chase@cha.se.net" method="POST">
    <ol>
        <li>
            <label for="name">Name*</label>
            <input type="text" id="name" name="name" placeholder="Name*" required />
            <span class="helper">Example: I'm Batman.</span>
        </li>
        <li>
            <label for="email">Email*</label>
            <input type="email" name="email" placeholder="Email*" required />
            <span class="helper">Example: batman@gothamcity.gov</span>
        </li>
        <li>
            <label for="_subject">Subject*</label>
            <input type="text" name="_subject" placeholder="Subject*" required />
        </li>
        <li>
            <label for="message">Message*</label>
            <textarea name="message" id="" cols="30" rows="10" placeholder="Message*" required ></textarea>
        </li>
        <li style="display:none">
            <input type="text" name="_gotcha" style="display:none" />
        </li>
    </ol>

    <input type="submit" value="Send">
</form>

<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}/page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}/page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>-->

