---
layout: default
title: Notes
---

<div class="page-head">
    <h2>Notes</h2>

    <p><strong>Random things</strong> I've found/learned/created that may or may not be worth sharing sharing. Nevertheless, here they are!</p>
</div>

<div class="masonry">
    <!-- Masonry gutter and masonry column settings -->
    <div class="masonry__gutter"></div>
    <div class="masonry__column"></div>
{% assign sorted = (site.notes | sort: 'date')%}
{% for item in sorted %}

    <!-- Begin masonry items -->

    {% if item.category == "codes" %}
    <article class="code">
        <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.title }}">
            <h3>{{ item.title }}</h3>
            <p>{{ item.description }}</p>
        </a>
    </article>
    {% endif %}
    
    {% if item.category == "quotes" %}
    <article class="quote" style="color: #{{ item.color }};">
        <figure style="background-image: url(http://localhost:4000/public/img/quote-authors/steve-jobs.jpg);"></figure>
        <a href="{{ site.baseurl }}{{ item.url }}" title="{{ item.author }}">
        <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="175.666" height="121.666" viewBox="0 0 175.666 121.666"><path d="M128.836 7c20.282 0 36.724 16.44 36.724 36.724 0 20.282-16.44 36.725-36.724 36.725-.572 0-1.13-.02-1.682-.044-2.08 8.497 5.078 19.232 32.212 34.26-59.88-11.503-67.255-50.66-67.255-70.94 0-20.285 16.443-36.727 36.726-36.727zM46.83 7c20.284 0 36.726 16.44 36.726 36.724 0 20.282-16.442 36.725-36.725 36.725-.57 0-1.13-.02-1.68-.044-2.078 8.497 5.077 19.232 32.212 34.26-59.882-11.503-67.256-50.66-67.256-70.942C10.106 23.44 26.548 7 46.83 7z"/></svg>
            <p class="quote-text">{{ item.quote }}{% if item.content %}{{ item.content }}{% endif %}</p>
            <p style="color: #{{ item.color }};">- {% if item.about %}<a href="{{ item.about }}" title="About {{ item.author }}">
        {% endif %}{{ item.author }}{% if item.about %}</a>{% endif %}</p>
        </div>
        </a>
    </article>
    {% endif %}
    
{% endfor %}
</div>
