<footer>
  <div class="footer-content">
    <ul>
        <li><a href="{{ site.baseurl }}/contact/"><span class="icon email"></span><span>Contact me</span></a></li>
        <li><a href="//behance.net/chasebank"><span class="icon codepen"></span><span>CodePen</span></a></li>
        <li><a href="//codepen.io/chasebank"><span class="icon behance"></span><span>Behance</span></a></li>
        <li><a href="//github.com/chasebank"><span class="icon github"></span><span>GitHub</span></a></li>
        <li><a href="#top" title="Scroll back to top" id="back-to-top">Back to top <i class="fa fa-reply fa-rotate-90"></i></a></li>
    </ul>
  </div>
</footer>
