<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->


<div id="nav-container">
    <nav role='navigation'>
        <a class="{% if page.url == site.baseurl %}active{% endif %}" href="{{ site.baseurl }}/" title="Home">Home</a>
        <a class="{% if page.url contains "/portfolio" %}active{% endif %}" href="{{ site.baseurl }}/portfolio/" title="Portfolio">Portfolio</a>
        {% if page.url contains '/portfolio/' %}
            <div class="subnav">
                <ul>
                    {% for project in site.portfolio %}
                        <li><a class="{% if page.url == project.url %}active{% endif %}" href="{{ site.baseurl }}{{ project.url }}" title="{{ project.title }}">{{ project.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}

        <a class="
            {% if page.url contains "/notes" %}active{% endif %}
            {% if page.url contains "/blog" %}active{% endif %}
            {% if page.url contains "/quotes" %}active{% endif %}
            {% if page.url contains "/codes" %}active{% endif %}
            {% if page.url contains "/tools" %}active{% endif %}
        " href="{{ site.baseurl }}/notes/" title="Notes">Notes</a>
        {% if page.url contains '/notes/' %}
            {% include subnav.html %}
        {% endif %}

        <a class="{% if page.url == "/about/" %}active{% endif %}" href="{{ site.baseurl }}/about/" title="About Me">About Me</a>
    </nav>
    <div class="subnav">
        <ul class="social-media">
            <li><a class="{% if page.url contains "/contact" %}active{% endif %}" href="{{ site.baseurl }}/contact/" title="Contact Me"><span class="icon email"></span><span>Contact me</span></a></li>
            <li><a href="//behance.net/chasebank"><span class="icon codepen" title="Visit my CodePen"></span><span>CodePen</span></a></li>
            <li><a href="//codepen.io/chasebank"><span class="icon behance" title="Visit my Behance"></span><span>Behance</span></a></li>
            <li><a href="//github.com/chasebank"><span class="icon github" title="Visit my Github"></span><span>GitHub</span></a></li>
        </ul>
    </div>
</div>
