$dark: black;
$bright: white;
$backgroundColor: #081d17;
$textColor: #fffaeb;
$accentBright: #ffca71;
$accentDark: navy;

#pga-navigation {
  @include pageNavigationColors(
    $dark: $dark,
    $bright: $bright,
    $backgroundColor: $backgroundColor,
    $accentBright: $accentBright,
    $accentDark: $accentDark
  )
}

.pga-project {
  @include portfolioProjectColors(
    $dark: $dark,
    $bright: $bright,
    $backgroundColor: $backgroundColor,
    $textColor: $textColor,
    $accentBright: $accentBright,
    $accentDark: $accentDark
  );

  padding-top: 26vw;

  .project-highlights {
    background-color: rgba(cyan,.15)
  }

  h3:after {
    background: linear-gradient(to right, rgba($accentBright,0), $accentBright .2em, rgba($textColor,0));
  }

  .project-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: url(~assets/images/projects/pga/pga--project-header--large.jpg?disable=true) top center no-repeat;
    background-size: cover;
    padding-top: calc(100% * 955 / 1920);
    mask-image: linear-gradient(to top, transparent, black 30%);
  }

  @media (max-width: $smallScreen) {
    padding-top: 26vw;

    .project-header {
      background: url(~assets/images/projects/pga/pga--project-header--small.jpg?disable=true) top center no-repeat;
      background-size: cover;
      padding-top: calc(100% * 955 / 1920);
    }
  }
}