// main: styles.less
@import (reference) "variables.less";

.chase-logo-svg {fill:fade(#adf1ff,35%);opacity:.75}
.chase-logo-c-top {fill: url(#gradient-left-right);}
.chase-logo-c-tophl {fill: url(#gradient-right-left);}
.chase-logo-c-mid {fill: url(#gradient-top-bottom);}
.chase-logo-c-bottomhl {fill: url(#gradient-top-bottomhl);}
.chase-logo-c-bottom {fill: url(#gradient-left-right);}
.chase-logo-letter {fill: url(#gradient-bottom-top);}


footer {
    #grid;
    position:relative;
    padding: 4rem 0 0 0;
    margin:0 auto;
    opacity: 0;

    @media only screen and (max-width: 1000px) {
        padding: 3rem 0 0 0;
    }

    @media @phone {
        //padding: 0 .5rem 0;
        //width:99%;
    }

    @media @tablet {
        //padding: 0 .8rem 0;
        //width:98%;
    }

    @media @desktop {
        //width:90%;
    }

    .chase-logo-svg {
        #grid > .cell;
        #grid > .span(3);
        max-height:100px;

        @media @phone {
            #grid > .span(12);
            height:4rem;
            margin-bottom:1.5rem;
        }

        @media @tablet {
            #grid > .span(4);
        }
    }

    .footer-content {
        #grid > .cell;
        #grid > .span(12);

        text-align: center;
        color: fade(#adf1ff,80%);

        a,
        a:visited {
            color: fade(#adf1ff,80%);
            display: inline-block;
            font-family: 'Lato', sans-serif;
            font-weight: 600;
            text-decoration: none;
            .transition;

            &:hover {color:white}
        }

        nav {
            font-size: 1.8rem;
            margin-bottom: 1rem;
            text-align: right;
            text-transform: uppercase;
            padding: 0;

            @media @phone {
                text-align: center;
            }

            a {margin-left:1.8rem; font-size:1.75rem;
                &:first-of-type { margin:0;}
            }
        }

        .social-media {
            display: block;
            padding: 0;
            text-align: center;
            margin-bottom: 1rem;

            @media @phone {
                margin-bottom:.8rem;
                list-style: none;
                text-align: justify !important;
                text-justify: distribute-all-lines;
                font-size: 0 !important;

                &:after {
                  content: '';
                  display: inline-block;
                  width: 100%;
                }
            }

            li {
                display: inline-block;
                margin: 0 0 0 1.4rem;
                
                // hide social icons on wide screen (redundant from fixed nav)
                &:not(:last-child) {
                    @media screen and (min-width: 1200px) {
                        display: none;
                    }
                }
                
                // back to top link
                &:last-child {
                    @media only screen and (max-width: 640px) {
                        margin-top: 1.5rem;
                        width: 100%;
                        #back-to-top {
                            display: inline-block;
                            text-align: center;
                        }
                    }
                }

                @media @phone {
                    margin: 0;
                    display: inline-block;
                    font-size: 1.5rem;
                    text-align: center;
                    span {
                        display: block;
                        margin: 0 auto;
                    }
                }
            }

            @media @phone {
                .icon {
                    color:white;
                    &.email {background-image: linear-gradient(to bottom,#0F64B1,#66DDFE);}
                    &.codepen {background-image: linear-gradient(to bottom,#252525,#444);}
                    &.behance {background-image: linear-gradient(to bottom,#005dff,#0096ff);}
                    &.github {background-image: linear-gradient(to bottom,#202d5f,#614381);}
                }/* icon */
            }
        }/* social-media */
    }/* footer-content */
}/* footer */

#back-to-top {
    display: block;
    padding-left: 1rem;
    text-align: right;
    text-transform: uppercase;
    position: relative;
    font-size: 1.2rem;

    .fa {
        font-size: 1.2em;
        position: relative;
        top: -.2rem;
    }
}

.splash {
    footer {
        padding: 2.5rem 1rem;
        .footer-content {
            #grid > .cell;
            #grid > .span(12);

            .social-media {
                text-align: center;
                margin-bottom:3rem;
                font-size: 1.8rem;

                li {
                    text-align:center;
                    margin-left: 2.5%;
                    margin-right: 2.5%;

                    &:nth-of-type(1) {
                        margin-left: none!important;
                    }
                }

                .icon {
                    @icon-size:4rem;
                    height: @icon-size;
                    margin: 0 3px 0 0;
                    width: @icon-size;

                    &:after {
                        font:400 1em/@icon-size 'FontAwesome';
                        line-height: @icon-size;
                    }

                    @media @phone {
                        margin:0px auto 5px auto!important;
                    }
                }
            }/* social-media */

        }/* footer-content */
    }/* footer */
}

.footer-content {
    margin-top: 0!important;

    nav a {
        margin-top: 0!important;
    }
}
