// out: ../css/form.css
@import (reference) "variables.less";

input,
textarea {
    font-family: sans-serif;
}


@actionColor:rgb(18, 124, 198);
form#contact {
    margin:4.5rem 0 0 0;
    
    ol {
        padding:0;
        list-style-type: none;
        
        li {
            position:relative;
            list-style-type: none;
            display: block;
            margin:0px 0px 4rem 0px;
        }
        
        li.hide {
            display:none;
        }
    }
    
    label {display:block;}

    input,
    textarea {
      display:block;
      font-size: 1.6rem!important;
      border:none;
      @topColor:rgba(255,255,255,1);
      @bottomColor:rgba(246,246,246,1);
      background: #ffffff; /* Old browsers */
      background: -moz-linear-gradient(top,  @topColor 0%, @bottomColor 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(100%,@bottomColor)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* IE10+ */
      background: linear-gradient(to bottom,  @topColor 0%,@bottomColor 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@topColor, endColorstr=@bottomColor,GradientType=0 ); /* IE6-9 */

      border-radius: 10px;
      padding: 1.5rem;
      color: rgba(150,160,180,1);
      box-shadow:
          /*0px 2px 14px rgba(0, 20, 40, .8),
          inset 0px 0px 50px rgba(185, 205, 200, .7),
          inset 0px 0px 180px rgba(205, 225, 230, 1),*/
          
          inset 0px 10px 15px 0px white,//white gradient on border
          inset 0px 0px 0px 2px #bbbcbf,//border
          0px 0px 0px 1px #e2e2e2,//reflected light
          0px 2px 0px 1px #bfc1c3,//outer rim shadow
          0px 0px 50px rgba(185, 205, 200, .7),
          0px 0px 120px rgba(205, 225, 230, .5),

          inset 2px 2px 7px 0px transparent,
          0px 0px 2px 2px transparent,
          1px 1px 80px 0px transparent
        ;
      //position:absolute;
      top:0px;
      transition: all .35s linear;

      &:focus {
        outline:none;
        border:none;
        color:rgba(10,10,10,1);
        @topColor:rgba(255,255,255,1);
        @bottomColor:rgba(246,246,246,1);
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  @topColor 0%, @bottomColor 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(100%,@bottomColor)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* IE10+ */
        background: linear-gradient(to bottom,  @topColor 0%,@bottomColor 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@topColor, endColorstr=@bottomColor,GradientType=0 ); /* IE6-9 */
        box-shadow:
          inset 0px 10px 15px 0px transparent,//white gradient on border
          inset 0px 0px 0px 2px transparent,//border
          0px 0px 0px 1px transparent,//reflected light
          0px 2px 0px 1px transparent,//outer rim shadow
          0px 0px 50px transparent,
          0px 0px 120px transparent,

          inset 2px 2px 7px 0px #9a9ea1,
          0px 0px 2px 2px white,
          1px 1px 80px 0px #e4e4e4
        ;
        top:3px;
      }/* focus */
    }/* input */

    input[type=text],
    input[type=email],
    input[type=url],
    input[type=password] {
      width: 50%;
        
        @media @mobile {
            width:100%;
        }
        
        @media @tablet {
            width:75%;
        }
    }
    
    textarea {width:100%}
    
    input[type="submit"] {
      display:block;
      font-size: 1.8rem!important;
      border:none;
      padding: 1rem 3rem;
      @topColor:#b5e7ff;
        @midColor:#4abcf0;
        @bottomColor:#107dbe;
        @shdowColor:#114e8f;
      color:white;
      text-shadow:2px 2px 4px @bottomColor;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  @topColor 0%, @bottomColor 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(100%,@bottomColor)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* IE10+ */
        background: linear-gradient(to bottom,  @topColor 0%,@bottomColor 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@topColor, endColorstr=@bottomColor,GradientType=0 ); /* IE6-9 */
        box-shadow:
          inset 0px 10px 15px 0px @topColor,//white gradient on border
          inset 0px 0px 0px 2px @shdowColor,//border
          inset 0px 3px 0px 2px white,
          inset 0px 3px 0px 2px white,
          0px 1px 0px 0px @bottomColor,//reflected light
          0px 2px 0px 0px @shdowColor,//outer rim shadow
          0px 3px 3px @shdowColor,//cast shadow
          1px 4px 6px @midColor,//vignette

          inset 0px -10px 15px 0px transparent,//white gradient on border
          inset 0px 0px 0px 2px transparent,//border
          inset 2px 2px 6px transparent,
          0px 0px 5px transparent
        ;
      position:relative;
      top:0px;
      transition: all .2s linear;
      cursor:pointer;

      &:focus,
      &:hover {
        outline:none;
        border:none;
        color:rgba(10,10,10,1);

        @topColor:#4abcf0;
        @midColor:#4abcf0;
        @bottomColor:#114e8f;
        @shdowColor:#114e8f;
        background: #ffffff; /* Old browsers */
        background: -moz-linear-gradient(top,  @topColor 0%, @bottomColor 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@topColor), color-stop(100%,@bottomColor)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  @topColor 0%,@bottomColor 100%); /* IE10+ */
        background: linear-gradient(to bottom,  @topColor 0%,@bottomColor 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=@topColor, endColorstr=@bottomColor,GradientType=0 ); /* IE6-9 */

        border-radius: 10px;
        color: #b5e7ff;
        text-shadow:@midColor;
        box-shadow:
          inset 0px 10px 15px 0px transparent,//white gradient on border
          inset 0px 0px 0px 2px transparent,//border
          inset 0px 3px 0px 2px transparent,
          inset 0px 3px 0px 2px transparent,
          0px 1px 0px 0px transparent,//reflected light
          0px 2px 0px 0px transparent,//outer rim shadow
          0px 3px 3px transparent,//cast shadow
          1px 4px 6px transparent,//vignette

          inset 0px -10px 15px 0px @topColor,//white gradient on border
          inset 0px 0px 0px 2px @shdowColor,//border
          inset 2px 2px 6px @bottomColor,
          0px 0px 5px white
        ;
        top:3px;
      }/* focus hover */
    }/* submit */
}/* form */


// float 
form#contact {
    @offset:2.3rem;
    label {
      position:absolute;
      top:@offset;
      left:0;
      font-size:1.6rem;
      color:#aaa;
      transition: all 0.2s linear;
      opacity:0;
      font-weight:bold;

      &.active {
          color:@actionColor;
      }

      &.show {
          top:-@offset;
          opacity:1;
      }
    }/* label */

    .helper {
      position:absolute;
      top:-@offset;
      opacity:1;
      left:0;
      font-size:1.6rem;
      color:#aaa;
      font-weight:bold;
      transition:all 0.2s linear;

      &.on {
        color:#4481C4;
      }
      &.hide {
        top:@offset;
        opacity:0;
      }
    }/*helper*/

    .addfield {
      display:block;
      font-size:11px;
      font-weight:bold;
      color:@actionColor;
      text-decoration:underline;

      i {
        text-decoration:underline;
      }
    }

    .error {
      input {
        -webkit-animation: fade .55s ease-in;
        -moz-animation: fade .55s ease-in;
        animation: fade .55s ease-in
      }
    }

    @-webkit-keyframes fade {
        0% {box-shadow: 0 0 transparent}
        66% {box-shadow: 0 0 0 10px white, 0 0 0 12px red}
        100% {box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent}
    }
    @-moz-keyframes fade {
        0% {box-shadow: 0 0 transparent}
        66% {box-shadow: 0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 12px red}
        100% {box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent}
    }
    @-o-keyframes fade {
        0% {box-shadow: 0 0 transparent}
        66% {box-shadow: 0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 12px red}
        100% {box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent}
    }
    @keyframes fade {
        0% {box-shadow: 0 0 transparent}
        66% {box-shadow: 0 0 0 10px rgba(255, 255, 255, 0), 0 0 0 12px red}
        100% {box-shadow: 0 0 0 20px transparent, 0 0 0 22px transparent}
    }
}/* form#contact */