// main: styles.less
@import (reference) "variables.less";

body {font-family: 'Exo 2', sans-serif;}


/* No `:visited` state is required by default (browsers will use `a`) */
a {
    color: #268bd2;
    text-decoration: none;
}

a strong {
    color: inherit;
}
/* `:focus` is linked to `:hover` for basic accessibility */

a:hover,
a:focus {
    text-decoration: underline;
}
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top:0;
    margin-bottom: .5rem;
    font-weight: 600;
    letter-spacing: -.025rem;
    line-height: 1.25;
    text-rendering: optimizeLegibility;
    color: #313131;
}

h1 {font-size: 3.2rem;}
p.h1-sub-heading {font-size:2rem;font-weight:600;}

h2 {font-size: 2.6rem;}

h3 {font-size: 2.2rem;}

h4,
h5,
h6 {font-size: 1.8rem;}

p {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 2.5rem;
}

section.container { color: #616161; text-shadow: none; }

strong {
    color: #303030;
}


/* Meta data line below post title */
.post-date {
  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Related posts */
.related {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-top: 1px solid #eee;
}
.related-posts {
  padding-left: 0;
  list-style: none;
}
.related-posts h3 {
  margin-top: 0;
}
.related-posts li small {
  font-size: 75%;
  color: #999;
}
.related-posts li a:hover {
  color: #268bd2;
  text-decoration: none;
}
.related-posts li a:hover small {
  color: inherit;
}

/* Lists */
ul, ol, dl {
  font-size:1.4rem;
}


main {
  text-shadow: 1px 1px 4px @blackBlue;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
      color: #2ecef1;
  }
  p { color: #cbf6ff; font-size: 1.6rem; }
}


dt {
    position: relative;
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;

    &:before {
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        font-family: 'FontAwesome';
        content:'\f078';
        opacity: .5;
        color: @blue;
        transition: opacity .4s ease-out;
    }

    &:after {
        position: absolute;
        top: 0;
        left: -2rem;
        height: 100%;
        font-family: 'FontAwesome';
        content:'\f077';
        opacity: 0;
        color: @blue;
        transition: opacity .4s ease-out;
    }

    &.toggled {
        &:before {opacity: 0 }
        &:after { opacity: .8 }

        &:hover {
            &:before { opacity: 0 }
        }
    }

    &:hover {
        &:before { opacity: 1 }
    }
}

dd {
    position: relative;
    top: 0;
    left: 4rem;
    color: #cbf6ff;
    font-size: 1.4rem;
    background: linear-gradient(
        to right,
        #171d1f, transparent);
    padding: 1rem;
    margin: 0;
    margin-top: .5rem;
    display: block;
    transition: left .4s ease-out;

    p {
        margin-bottom: 1rem!important;
        color: #cbf6ff;
        font-size: 1.4rem;
    }

    &.toggled {
        left: 2rem;
    }
}
